// Needed first for 5.2+
@import './node_modules/bootstrap/scss/functions';

// Overrides
$primary: #7413dc;
$secondary: #003982;

// Required
@import './node_modules/bootstrap/scss/variables';
// Fix for 5.3+
@import './node_modules/bootstrap/scss/variables-dark';
@import './node_modules/bootstrap/scss/maps';
@import './node_modules/bootstrap/scss/mixins';
@import './node_modules/bootstrap/scss/utilities';
@import './node_modules/bootstrap/scss/root';
@import './node_modules/bootstrap/scss/reboot';

@import './node_modules/bootstrap/scss/type';
@import './node_modules/bootstrap/scss/images';
@import './node_modules/bootstrap/scss/containers';
@import './node_modules/bootstrap/scss/grid';
@import './node_modules/bootstrap/scss/tables';
@import './node_modules/bootstrap/scss/forms';
@import './node_modules/bootstrap/scss/buttons';
@import './node_modules/bootstrap/scss/transitions';
@import './node_modules/bootstrap/scss/dropdown';
@import './node_modules/bootstrap/scss/button-group';
@import './node_modules/bootstrap/scss/nav';
@import './node_modules/bootstrap/scss/navbar'; // Requires nav
@import './node_modules/bootstrap/scss/card';
// @import "./node_modules/bootstrap/scss/breadcrumb";
@import './node_modules/bootstrap/scss/accordion';
@import './node_modules/bootstrap/scss/pagination';
// @import "./node_modules/bootstrap/scss/badge";
@import './node_modules/bootstrap/scss/alert';
// @import "./node_modules/bootstrap/scss/progress";
// @import "./node_modules/bootstrap/scss/list-group";
@import './node_modules/bootstrap/scss/close';
// @import "./node_modules/bootstrap/scss/toasts";
@import './node_modules/bootstrap/scss/modal'; // Requires transitions
// @import "./node_modules/bootstrap/scss/tooltip";
// @import "./node_modules/bootstrap/scss/popover";
// @import "./node_modules/bootstrap/scss/carousel";
@import './node_modules/bootstrap/scss/spinners';
@import './node_modules/bootstrap/scss/offcanvas'; // Requires transitions
@import './node_modules/bootstrap/scss/placeholders';

// Helpers
@import './node_modules/bootstrap/scss/helpers/visually-hidden';

// Utilities
@import './node_modules/bootstrap/scss/utilities/api';

// Custom styles
html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bs-primary);
	position: relative;
}

#app {
	background-color: white;
}

.custom-loader {
	animation: none !important;
	border-width: 0 !important;
}

.btn-placeholder {
	width: 90px !important;
}

.legend {
	font-size: var(--bs-body-font-size) !important;
}

.btn-sq-lg {
	width: 100% !important;
	height: 185px !important;
	padding: 10px;
	margin: 5px;
}

.home-icon {
	padding: 5px;
	margin-top: 10px;
	font-size: 80px;
}

.home-caption {
	font-size: 20px;
	text-overflow: ellipsis;
}

.home-tiles {
	margin-left: auto !important;
	margin-right: auto !important;
}

#mainMap {
	height: 500px;
}

.mapImg {
	height: 400px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.icon {
	width: 3rem;
	height: 3rem;
}

.icon i {
	font-size: 2.25rem;
}

.icon-shape {
	display: inline-flex;
	padding: 12px;
	text-align: center;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

.stat-card {
	height: 85%;
}

.footer-img {
	max-height: 100px;
}

.logo-img {
	max-width: 200px;
}

.gs-gold {
	background-color: $yellow-500 !important;
	color: #000;
}

.gs-silver {
	background-color: $gray-500 !important;
	color: #000;
}

.gs-bronze {
	background-color: $orange-600 !important;
	color: #000;
}

.gs-your-device {
	border-top: solid var(--bs-secondary) !important;
	border-bottom: solid var(--bs-secondary) !important;
}

.promo-img {
	background-size: cover;
}

.promo-container {
	padding: unset !important;
}

.promo-desktop {
	max-width: 490px;
}

/* Markers */
.marker-found {
	background-color: var(--bs-success);
	border-radius: 9px;
	color: #ffffff;
	font-size: 14px;
	padding: 10px 15px;
	position: relative;
}

.marker-found::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, 0);
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid var(--bs-success);
}

.marker-notfound {
	background-color: var(--bs-primary);
	border-radius: 9px;
	color: #ffffff;
	font-size: 14px;
	padding: 10px 15px;
	position: relative;
}

.marker-notfound::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, 0);
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid var(--bs-primary);
}
